@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Righteous&display=swap');

:root {
    --clr-blk: #28282B;
    --clr-rd: #AA4A44;
    --clr-bl: #6495ED;
    --clr-gry: #F5F5F5;
    --clr-wht: #FFFF;

    --montserrat: "Monserrat", sans-serif;
    --righteous: "Righteous", sans-serif;
    --outfit: "Outfit", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--clr-gry);
    display: grid;
    grid-template-areas: 
            "sidebar navbar navbar"
            "sidebar content content"
    ;
    grid-template-columns: 300px 1fr 1fr;
}

.sidebar {
    grid-area: sidebar;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1; 
    height: 120px;
    color: var(--clr-blk);
}

.header h1 {
    font-family: var(--righteous);
    font-size: 2.5rem;
}

.header p {
    font-family: var(--outfit);
}

.sidebar {
    padding: 0px 30px;
}   

.nav-links {
    display: flex;
    flex-direction: column;
    font-size:  1.2rem;
    gap: 20px;
}

.nav-items {
    display: flex;
    margin-left: 10px;
    align-items: center;
    column-gap: 5px;
    list-style: none;
}

.nav-items svg {
    fill: var(--clr-blk);
}

.nav-items a {
    text-decoration: none;
    color: var(--clr-blk);
    font-family: var(--outfit);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    grid-area: navbar;
    height: 120px;
    padding-right: 30px;
    font-family: var(--outfit);
    font-size: 1rem;
}

.content {
    grid-area: content;
    padding-right: 30px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--clr-wht);
    border: 2px solid #AFAFAF;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}    


